<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/script.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <h1>Welcome to EJS</h1>
    <p>This is a simple EJS template.</p>
    <%= 2+2%>
    <ul>
      <% for (let i = 0; i < 5; i++) { %>
      <li>Item <%= i + 1 %></li>
      <% } %>
    </ul>
    <p>Current date: <%= new Date().toLocaleDateString() %></p>
    <p>Current time: <%= new Date().toLocaleTimeString() %></p>
  </body>
</html>
